* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: #f3f3f3;
    overflow: hidden;
}

/* navigatie */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #211C84;
    border-bottom: 1px solid #4D55CC;
    transition: all 0.2s ease-in-out;
    color: #fff;
    box-shadow: 0px 0px 13px 1px #186fbd;
}

.navigation li {
    list-style: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/*  foto */
img {
    height: 100%;
    width: 100%;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

main {
    margin-top: 100px;
    padding: 10px 150px;
}

/* user header */

.users__container {
    height: 500px;
    overflow: auto;
    background: #fff;
    margin-top: 3px;
}

.user__header,
.user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    background: #4D55CC;
}

.user__header {
    box-shadow: 0px 0px 14px 0px #7A73D1;
    font-weight: 600;
    margin-right: 10px;
    border-radius: 5px;
    color: #eee;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.user {
    margin-top: 3px;
    padding: 2px 15px;
    font-weight: initial;
    background: #fff;
    border-bottom: 1px solid #4D55CC;
}

.user-logo {
    flex: 1;
}

.user-name {
    flex: 2;
}

.user-country {
    flex: 2;
}

.user-email {
    flex: 2;
}

.user-address {
    flex: 2;
}

.item {
    align-self: center;
    word-break: break-word;
}

/* responsive */
@media (max-width: 1060px) {
    main {
        margin-top: 100px;
        padding: 5px 5px;
    }
}